In [1]:
import numpy as np
import pandas as pd

myIndex = [('Slot1', 1), ('Slot1', 2), ('Slot1', 3), ('Slot2', 1), ('Slot2', 2), ('Slot2', 3)]
myIndex = pd.MultiIndex.from_tuples(myIndex)

dataFrame = pd.DataFrame(np.random.randn(6,2), index=myIndex, columns=['Res1', 'Res2'])

In [2]:
dataFrame

             Res1      Res2
Slot1 1 -0.703978  0.361950
      2  1.074106  0.400190
      3 -0.031833 -1.027003
Slot2 1  0.574948 -0.770155
      2  1.011432 -0.578652
      3 -1.015006 -0.546385

In [11]:
dataFrame.loc['Slot1'].loc[2]

Res1    1.074106
Res2    0.400190
Name: 2, dtype: float64

In [13]:
dataFrame.index.names = ['Slot', 'Var']

In [14]:
dataFrame

               Res1      Res2
Slot  Var
Slot1 1   -0.703978  0.361950
      2    1.074106  0.400190
      3   -0.031833 -1.027003
Slot2 1    0.574948 -0.770155
      2    1.011432 -0.578652
      3   -1.015006 -0.546385

In [16]:
dataFrame.xs('Slot1').xs(2)

Res1    1.074106
Res2    0.400190
Name: 2, dtype: float64

In [17]:
dataFrame.xs(2, level='Var')

           Res1      Res2
Slot
Slot1  1.074106  0.400190
Slot2  1.011432 -0.578652