In [1]:
import pandas as pd
import numpy as np

In [2]:
# Get Dataset
dataset = pd.read_csv('../LCO-Datasets/Social_Network_Ads.csv')
dataset.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0
6  15598044  Female   27            84000          0
7  15694829  Female   32           150000          1
8  15600575    Male   25            33000          0
9  15727311  Female   35            65000          0

In [3]:
X = dataset.iloc[:, 2:4].values
y = dataset.iloc[:, [4]].values

In [4]:
# Split the data into train and test models
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)
y_test

array([[0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1]], dtype=int64)

In [5]:
# Scale the Dataset
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [6]:
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [7]:
# Predict the possiblities with SVM
from sklearn.svm import SVC
classifier = SVC()
classifier.fit(X_train, y_train.ravel())

SVC()

In [8]:
y_predicted = classifier.predict(X_test)

In [9]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_predicted)

array([[49,  2],
       [ 0, 29]], dtype=int64)