In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../LCO-Datasets/groupStudy.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Position        10 non-null     object
 1   Hours of study  10 non-null     int64
 2   Marks scored    10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 368.0+ bytes

In [4]:
df

   Position  Hours of study  Marks scored
0   Group-1               1            45
1   Group-2               2            50
2   Group-3               3            60
3   Group-4               4            80
4   Group-5               5           110
5   Group-6               6           150
6   Group-7               7           200
7   Group-8               8           300
8   Group-9               9           500
9  Group-10              10          1000

In [5]:
# Get X and y
X = df.iloc[:, 1:2].values
X

array([[ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10]], dtype=int64)

In [9]:
y = df.iloc[:, -1].values
y

array([  45,   50,   60,   80,  110,  150,  200,  300,  500, 1000],
      dtype=int64)

In [10]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()

In [11]:
regressor.fit(X, y)

DecisionTreeRegressor()

In [15]:
regressor.predict([[12]])

array([1000.])