In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dataframe = pd.read_csv('./../LCO-Datasets/CleanupData.csv')

In [3]:
dataframe

      State   Age  Pocket Money Course Purchased
0     Delhi  34.0        7200.0               No
1    Mumbai  17.0        4800.0              Yes
2  Banglore  20.0        5400.0               No
3    Mumbai  28.0        6100.0               No
4  Banglore  30.0           NaN              Yes
5     Delhi  25.0        5800.0              Yes
6    Mumbai   NaN        5200.0               No
7     Delhi  38.0        7900.0              Yes
8  Banglore  40.0        8300.0               No
9     Delhi  27.0        6700.0              Yes

In [4]:
# Get your dependent and independent matrix out of dataset
X = dataframe.iloc[:,:3].values

In [5]:
# Dependent variable
y = dataframe.iloc[:, 3:4].values

In [6]:
# How to handle missing values
from sklearn.impute import SimpleImputer

In [7]:
imputer = SimpleImputer(missing_values=np.NaN, strategy='mean')

In [8]:
imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])

In [9]:
dataframe

      State   Age  Pocket Money Course Purchased
0     Delhi  34.0        7200.0               No
1    Mumbai  17.0        4800.0              Yes
2  Banglore  20.0        5400.0               No
3    Mumbai  28.0        6100.0               No
4  Banglore  30.0           NaN              Yes
5     Delhi  25.0        5800.0              Yes
6    Mumbai   NaN        5200.0               No
7     Delhi  38.0        7900.0              Yes
8  Banglore  40.0        8300.0               No
9     Delhi  27.0        6700.0              Yes

In [10]:
# Handle categorical data
from sklearn.preprocessing import LabelEncoder

In [11]:
# label_encoder_X = LabelEncoder()
# X[:, 0] = label_encoder_X.fit_transform(X[:, 0])

In [12]:
X

array([['Delhi', 34.0, 7200.0],
       ['Mumbai', 17.0, 4800.0],
       ['Banglore', 20.0, 5400.0],
       ['Mumbai', 28.0, 6100.0],
       ['Banglore', 30.0, 6377.777777777777],
       ['Delhi', 25.0, 5800.0],
       ['Mumbai', 28.77777777777778, 5200.0],
       ['Delhi', 38.0, 7900.0],
       ['Banglore', 40.0, 8300.0],
       ['Delhi', 27.0, 6700.0]], dtype=object)

In [13]:
# Create dummy matrix for categorical dataset
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [14]:
columnTransformer = ColumnTransformer([(OneHotEncoder(), [0])], remainder='passthrough')
X= columnTransformer.fit_transform(X).toarray()

X

ValueError: not enough values to unpack (expected 3, got 2)